.ipynb_checkpoints/
Probabilistic-Programming-and-Bayesian-Methods-for-Hackers/
.DS_Store
*.json
*.xlsx
*.txt
*.ttf
*.jpeg
*.png
*.jpg
*.html
*.ini
*.pkl
*.csv

Learning-Python-Data-Visualization/
Mastering-Python-Data-Analysis/
Python-Data-Analytics-and-Visualization
Data-visualization-projects-in-python
astrophysics/airports_2019
Scipy/numpy/numpy_exercises/
Scipy/numpy/numpy-100/
*MM
