.ipynb_checkpoints/
Probabilistic-Programming-and-Bayesian-Methods-for-Hackers/
.DS_Store
*.json
*.txt
*.ttf
*.jpeg
*.png
*.jpg
*.html
*.ini
*.pkl

Learning-Python-Data-Visualization/
Mastering-Python-Data-Analysis/
Python-Data-Analytics-and-Visualization
Data-visualization-projects-in-python
astrophysics/airports_2019
*/local-p*
